{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}

        <div style="color: #999; font-size: 15px">
          {{ range .Params.categories }}
          分類：<a href="{{ $.Site.LanguagePrefix | absURL }}/categories/#{{ . }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </div>

        {{ if .Params.tags }}
        <div class="blog-tags">
          {{ range .Params.tags }}
          <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </div>
        {{ end }}

        {{ if $.Param "socialShare" }}
        <hr />
        <section id="social-share">
          <div class="list-inline footer-links">
            {{ partial "share-links" . }}
          </div>
        </section>
        {{ end }}

        {{ partial "partials/related.html" . }}
      </article>

      {{ if ne .Type "page" }}
      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
        <li class="previous">
          <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top"
            title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
        </li>
        {{ end }}
        {{ if .NextInSection }}
        <li class="next">
          <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top"
            title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}

      {{ if ne .Params.comments false }}
      {{ partial "pixnet-comments.html" . }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}