<!-- Search Modal -->
<div id="modalSearch" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div id="searchbox" class="input-group">
          <input id="searchbar" class="form-control" placeholder='{{ i18n "gcseLabelLong" . }}'>
          <div class="input-group-btn">
            <button id="clearButton" class="btn btn-default">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button id="searchButton" class="btn btn-default" title='{{ i18n "gcseLabelShort" . }}'>
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "gcseClose" }}</button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ i18n "loading" }}⋯⋯
        </div>
        <div id="hits"></div>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-content mark {
    background-color: rgba(171, 175, 45, 0.533);
  }

  @media (prefers-color-scheme: dark) {
    .modal-content {
      background-color: #333;
    }

    .form-control,
    .modal-header .btn-default {
      color: white;
      background-color: #333;
    }
  }
</style>