<script src="https://unpkg.com/algoliasearch@4.24.0/dist/algoliasearch-lite.umd.js"
  integrity="sha384-xwQzZIc65bmtQ20G6C2ANqVuIi5hnBuTpmzXNCIyOBXUxbbowL47DosecKfrzqFQ" crossorigin="anonymous"></script>
<script src="https://unpkg.com/instantsearch.js@4.78.3/dist/instantsearch.production.min.js"
  integrity="sha384-h6U4Hw7vD2LLEHv77kMELFYt/vZk+FQ+CMr2GghRBSKNjF5MKJNV+YrbNv19M+ue" crossorigin="anonymous"></script>
<script>
  const zhCn = window.location.href.includes("zh-cn");
  const titleAttr = `title${zhCn ? '_cn' : ''}`;
  const contentAttr = `content${zhCn ? '_cn' : ''}`;
  const algoliaParams = {
    indexName: 'posts-bilang',
    searchClient: algoliasearch('8QSPV5R7NU', '92a22fa4f557ba2b59ca4ecd2b025590'),
    searchParameters: {
      restrictSearchableAttributes: [titleAttr, contentAttr]
    }
  };

  const search = instantsearch(algoliaParams);

  // create custom widget
  const customSearchBox = instantsearch.connectors.connectSearchBox(
    function (renderOptions, isFirstRender) {
      const { query, refine, clear, isSearchStalled, widgetParams } = renderOptions;

      if (isFirstRender) {
        const searchBar = widgetParams.container.querySelector('input');
        var inputting = false;

        searchBar.addEventListener('compositionstart', () => { inputting = true });
        searchBar.addEventListener('input', () => {
          if (!inputting) {
            refine(event.target.value);
          }
        });
        searchBar.addEventListener('compositionend', (event) => {
          inputting = false;
          refine(event.target.value);
        });

        const searchBtn = document.getElementById('searchButton');
        const clearBtn = document.getElementById('clearButton');

        searchBtn.addEventListener('click', event => {
          refine(event.target.value);
        });

        clearBtn.addEventListener('click', clear);
      }

      widgetParams.container.querySelector('input').value = query;
      document.querySelector('.modal-body .alert').hidden = !isSearchStalled;
    }
  );

  search.addWidgets([
    customSearchBox({
      container: document.getElementById('searchbox')
    }),

    instantsearch.widgets.hits({
      container: '#hits',
      templates: {
        item(hit, { html, components }) {
          return html`
            <article class="post-preview" style="padding: 16px 0">
              <a href="${zhCn ? '/zh-cn' : ''}/posts/${hit.objectID}">
                <h3 class="post-title" style="font-size: 24px">
                  ${components.Highlight({ attribute: titleAttr, hit })}
                </h3 >
              </a >
              <div class="post-entry">
                ${components.Snippet({ attribute: contentAttr, hit })}
              </div>
            </article >
          `;
        },
        empty: '{{ i18n "noResults" }}',
      }
    }),

    instantsearch.widgets.configure({
      attributesToSnippet: ['content:30', 'content_cn:30'],
      snippetEllipsisText: '⋯⋯'
    })
  ]);

  // --- Related posts from Algolia Recommend ---
  var url = '{{ .Permalink }}';
  var objectID = url.replace(/\/$/, '').split('/').pop();
  if (objectID && !isNaN(Number(objectID))) {
    const recommand = instantsearch(algoliaParams);
    const header = '{{ i18n "seeAlso" }}';
    recommand.addWidgets([
      instantsearch.widgets.relatedProducts({
        container: '#recommend-container',
        objectIDs: [objectID],
        limit: 5,
        templates: {
          header(_) {
            return `<h4 class="see-also">${header}</h4>`;
          },
          item(hit, { html }) {
            const title = zhCn && hit.title_cn ? hit.title_cn : hit.title;
            return html`<a href="${zhCn ? '/zh-cn' : ''}/posts/${hit.objectID}">${title}</a>`;
          }
        },
      })
    ]);
    recommand.start();
  }


  $(document).ready(function () {
    if (window.location.href.indexOf('/categories/') > -1) {
      var hash = window.location.hash.replace(/\/$/, '').toLowerCase();
      if (hash) {
        $('a[href="' + hash + '"]').tab('show');
      }
    }
  });

  $('#modalSearch').on('shown.bs.modal', function (e) {
    if (!search.started) {
      search.start();
    }
    $('#searchbar').trigger('focus');
  });
</script>