<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/reset-min.css"
  integrity="sha256-2AeJLzExpZvqLUxMfcs+4DWcMwNfpnjUeAAvEtPr0wU=" crossorigin="anonymous">
<style>
  .blog-post,
  .comment-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .post-meta,
  .page-meta {
    font-style: normal !important;
  }

  /* Warm: https://coolors.co/palette/ccd5ae-e9edc9-fefae0-faedcd-d4a373 */
  /* https://coolors.co/ccd5ae-e9edc9-fefae0-51bbfe-9590a8 */

  /* main color */
  body,
  .panel-default,
  .list-group-item,
  .pager li>a {
    background-color: #F6F5F0;
  }

  /* menu color */
  .navbar-custom,
  .well,
  a.list-group-item:hover,
  a.list-group-item:focus {
    background-color: #F0EDE8;
  }

  /* border color */
  .panel-default,
  .navbar-custom,
  .well,
  footer,
  .post-preview,
  .pager li>a {
    border-color: #D1CECA;
  }

  footer {
    background-color: #77A93B;
    color: white;
  }

  /* hyperlink color */
  .post-preview a:focus,
  .post-preview a:hover {
    color: #A1B5D8;
  }

  p a,
  a {
    color: #A1B5D8;
  }

  /* button/pill color */
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus,
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus,
  a:focus,
  a:hover {
    color: #D4A373;
  }

  .pager li a:hover,
  .pager li a:focus,
  ul.share li a {
    background-color: #D4A373;
  }

  /* text color */
  footer p a {
    color: #404040;
  }
</style>