<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/reset-min.css"
  integrity="sha256-2AeJLzExpZvqLUxMfcs+4DWcMwNfpnjUeAAvEtPr0wU=" crossorigin="anonymous">
<style>
  .intro-header .page-heading h1 {
    font-size: 42px;
  }

  .blog-post,
  .comment-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .post-meta,
  .page-meta {
    font-style: normal !important;
  }

  /* https://coolors.co/7fa145-ebeae2-f2f3ec-595f72-575d90 */

  /* main color */
  @media (prefers-color-scheme: light) {

    body,
    .navbar-default .navbar-toggle,
    .panel-default,
    .list-group-item,
    .pager li>a {
      background-color: #f2f3ec;
    }

    /* menu color */
    .navbar-custom,
    .navbar-custom .navbar-brand,
    .navbar-custom .nav li a,
    .well {
      color: white;
      background-color: #7fa145;
    }

    /* footer/panel heading color */
    footer,
    .panel-default>.panel-heading {
      background-color: #ebeae2;
      color: #aba9a5;
    }

    footer p a {
      color: #404040;
    }

    /* border color */
    .panel-default,
    .navbar-custom,
    .well,
    footer,
    .post-preview,
    .pager li>a {
      border-color: #aba9a5;
    }

    /* hyperlink in articles */
    p a,
    a {
      color: #487724;
    }

    a:focus,
    a:hover {
      color: #7fa145;
    }

    /* pager hover */
    .pager li a:hover,
    .pager li a:focus {
      background-color: #575D90;
    }

    /* hyperlink/menu hover */
    .post-preview a:focus,
    .post-preview a:hover,
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus,
    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus,
    footer a:hover,
    footer a:focus {
      color: #575D90;
    }
  }

  /* pill color */
  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .nav-pills>li.active>a,
  .nav-pills>li.active>a:focus,
  .nav-pills>li.active>a:hover {
    color: white;
    background-color: #487724;
    border-color: #487724;
  }

  div.panel a:focus,
  div.panel a:hover {
    background-color: #ebeae2;
  }

  /* comment pager */
  .pagination>li>a,
  .pagination>.disabled>a {
    background-color: #f2f3ec;
    color: #487724;
    border-color: #aba9a5;
  }

  .pagination>.disabled>a:focus,
  .pagination>.disabled>a:hover {
    background-color: #f2f3ec;
    border-color: #aba9a5;
  }

  .pagination>li>a:focus,
  .pagination>li>a:hover {
    background-color: #ebeae2;
    border-color: #aba9a5;
  }

  @media (prefers-color-scheme: dark) {

    /* comment pager */
    .pagination>li>a,
    .pagination>.disabled>a {
      background-color: #1a1a1a;
      color: white;
      border-color: #d5d5d5;
    }

    .pagination>.disabled>a:focus,
    .pagination>.disabled>a:hover {
      background-color: #1a1a1a;
      color: white;
      border-color: #d5d5d5;
    }

    .pagination>li>a:focus,
    .pagination>li>a:hover {
      background-color: #f5f5f5;
      border-color: #d5d5d5;
    }
  }
</style>