<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/reset-min.css"
  integrity="sha256-2AeJLzExpZvqLUxMfcs+4DWcMwNfpnjUeAAvEtPr0wU=" crossorigin="anonymous">
<style>
  .intro-header .page-heading h1 {
    font-size: 42px;
  }

  .blog-post,
  .comment-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .post-meta,
  .page-meta {
    font-style: normal !important;
  }

  /* https://coolors.co/487724-7fa145-f2f3ec-4a6670-e58f65 */

  /* main color */
  body,
  .navbar-default .navbar-toggle,
  .panel-default,
  .panel-default>.panel-heading,
  .list-group-item,
  .pager li>a {
    background-color: #f2f3ec;
  }

  /* menu color */
  .navbar-custom,
  .navbar-custom .navbar-brand,
  .navbar-custom .nav li a,
  .well,
  a.list-group-item:hover,
  a.list-group-item:focus {
    color: white;
    background-color: #7fa145;
  }

  /* border color */
  .panel-default,
  .navbar-custom,
  .well,
  footer,
  .post-preview,
  .pager li>a {
    border-color: #487724;
  }

  /* hyperlink in articles */
  p a,
  a {
    color: #487724;
  }

  a:focus,
  a:hover {
    color: #7fa145;
  }

  /* pager hover */
  .pager li a:hover,
  .pager li a:focus {
    background-color: #4A6670;
  }

  /* menu hover */
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus,
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus,
  footer a:hover,
  footer a:focus {
    color: #4A6670;
  }

  /* pill color */
  .nav-pills>li.active>a,
  .nav-pills>li.active>a:focus,
  .nav-pills>li.active>a:hover {
    color: white;
    background-color: #487724;
  }

  .nav-pills>li>a:focus,
  .nav-pills>li>a:hover {
    color: white;
    background-color: #487724;
  }

  /* footer color */
  footer {
    background-color: #7fa145;
    color: white;
  }

  footer p a {
    color: #404040;
  }
</style>