<section id="pixnet-comments" class="js-comments staticman-comments">
  <h3 v-if="comments">{{ "{{ comments.length }}" }} {{ i18n "moreComment" }}</h3>
  <h3 v-else>{{ i18n "noComment" }}</h3>
  <article v-for="comment in comments" :id="'comment-' + comment.id" class="static-comment">
    <img class="comment-avatar" :src="comment.avatar" style="width: 48px; height: 48px">
    <h4 v-if="comment.url" class="comment-author">
      <a rel="external nofollow" :href="comment.url">{{ "{{ comment.author || '匿名' }}" }}</a>
    </h4>
    <h4 v-else class="comment-author">{{ "{{ comment.author || '匿名' }}" }}</h4>
    <div class="comment-timestamp">
      <a :href="'#comment-' + comment.id" title="Permalink to this comment">
        <time :datetime="new Date(comment.created_at * 1000)">
          {{ "{{ (new Date(comment.created_at * 1000)).toLocaleString('zh') }}" }}
        </time>
      </a>
    </div>
    <div class="comment-content">
      <p style="white-space: pre-wrap;">{{ "{{ htmlDecode(comment.body || '&lt;私人留言&gt;') }}" }}</p>
    </div>
  </article>
</section>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- TODO: add integrity -->
<script src='{{ "js/pixnet_comments.js" | absURL }}'></script>
{{ $linkArr := split .Permalink "/" }}
<script>
  vm.init('{{ index (last 2 $linkArr) 0 }}');
</script>