<section id="pixnet-comments" class="js-comments staticman-comments">
  <article v-for="comment in comments" :id="'comment-' + comment.id" class="static-comment">
    <img class="comment-avatar" :src="comment.avatar" style="width: 48px; height: 48px">
    <h4 v-if="comment.url" class="comment-author">
      <a rel="external nofollow" :href="comment.url">{{ "{{ comment.author || '匿名' }}" }}</a>
    </h4>
    <h4 v-else class="comment-author">{{ "{{ comment.author || '匿名' }}" }}</h4>
    <div class="comment-timestamp">
      <a :href="'#comment-' + comment.id" title="Permalink to this comment">
        <time :datetime="new Date(comment.created_at * 1000)">
          {{ "{{ (new Date(comment.created_at * 1000)).toLocaleString('zh') }}" }}
        </time>
      </a>
    </div>
    <div class="comment-content">
      <p style="white-space: pre-wrap;">{{ "{{ htmlDecode(comment.body || '&lt;私人留言&gt;') }}" }}</p>
    </div>
  </article>

  <form class="js-form form" method="post" action="{{ .Site.Params.staticman.api }}">
    <input type="hidden" name="options[slug]" value="{{ replace .RelPermalink " /" "" }}">
    <input type="hidden" name="options[parent]" value="">

    {{ if .Site.Params.staticman.recaptcha }}
    <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.staticman.recaptcha.sitekey }}">
    <input type="hidden" name="options[reCaptcha][secret]" value="{{ .Site.Params.staticman.recaptcha.secret }}">
    {{ end }}

    <fieldset>
      <div class="textfield">
        <textarea name="fields[comment]" placeholder="{{ i18n " useMarkdown" }}"></textarea>
      </div>
    </fieldset>

    <fieldset>
      <div class="textfield">
        <input name="fields[name]" type="text" placeholder="{{ i18n " yourName" }}" />
      </div>
    </fieldset>

    <fieldset>
      <div class="textfield">
        <input type="email" name="fields[email]" placeholder="{{ i18n " yourEmail" }}" />
      </div>
    </fieldset>

    <fieldset>
      <div class="textfield">
        <input type="url" name="fields[website]" placeholder="{{ i18n " yourWebsite" }}" />
      </div>
    </fieldset>

    {{ if .Site.Params.staticman.recaptcha }}
    <fieldset>
      <div class="g-recaptcha" data-sitekey="{{ .Site.Params.staticman.recaptcha.sitekey }}"></div>
    </fieldset>
    {{ end }}

    <fieldset>
      <button class="button">
        Submit
      </button>
    </fieldset>
  </form>
</section>

<article class="modal">
  <div class="title">
    <h2 class="js-modal-title"></h2>
  </div>
  <div class="js-modal-text"></div>
  <div>
    <button class="js-close-modal">Close</button>
  </div>
</article>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- TODO: add integrity -->
<script src='{{ "js/pixnet_comments.js" | absURL }}'></script>
{{ $linkArr := split .Permalink "/" }}
<script>
  vm.init('{{ index (last 2 $linkArr) 0 }}');
</script>