--- # Only the main Sass file needs front matter (the dashes are enough) --- @charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

@media screen and (max-width: 387px) {
  .site-subtitle {
    display: none;
  }
}

.search__toggle {
  margin: 0 0.5rem;
}

.list-display-toggle {
  margin: 0 0.5rem;
  height: $nav-toggle-height;
  border: 0;
  outline: none;
  color: $primary-color;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    color: mix(#000, $primary-color, 25%);
  }
}

.comment__content-wrapper {
  white-space: pre-wrap;
}